header {
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 10px;

  h1 {
    font-size: 6rem;
    margin-left: 20px;
  }

  .links {
    width: 20%;
    display: flex;
    justify-content: space-between;
    margin-right: 80px;

    button {
      background: none;
      border: none;
      color: white;
      font-size: 2rem;
      border-bottom: 2px solid rgb(35, 75, 150);
      outline: none;

      &:hover {
        border-bottom: 2px solid white;
        cursor: pointer;
      }
    }
  }
}
